body {
  background-color: rgb(240, 236, 231);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  color: rgb(241, 106, 16);
  font-size: 3rem;
}

fieldset {
  border: 0.2rem solid rgb(221, 135, 77);
  border-radius: 1rem;
  margin: 3rem 1rem;
  padding: 1rem;
}

.legend {
  font-size: 1.8rem;
  color: rgb(221, 135, 77);
  background-color: rgb(240, 236, 231);
  padding: 0 1rem;
}

.form {
  font-size: 1.5rem;
  font-family: sans-serif;
}

.personalData {
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  min-width: 50rem;
}

.digit {
  font-size: 1.3rem;
}

.span {
  font-size: 1.3rem;
  color: rgb(221, 135, 77);
}

input {
  font-size: 1.4rem;
}

.inputData {
  width: 35rem;
  margin-right: 2rem;
  padding-left: 1rem;
}

.personalDirection {
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
}

.dataBank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
}

.type {
  padding-bottom: 2rem;
}

.hiringType {
  margin-top: 1.5rem;
}

.select1 {
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.poll {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btnSubmit {
  padding: 2rem;
}

.colorG {
  color: green;
}

.colorR {
  color: rgb(224, 17, 17);
}

.star {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  width: 35rem;
  justify-content: space-around;
  font-size: 3rem;
  color: rgb(98, 114, 70);
  margin: 2rem 0;
}

.pollStar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.starActive {
  color: #e9a513b2;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.buttonShow {
  background-color: rgb(231, 159, 111);
  color: whitesmoke;
  border: 0;
  border-radius: 0.5rem;
  height: 3rem;
}

.buttonShow:hover {
  background-color: rgb(240, 141, 75);
}

.btnSend {
  border-radius: 0.5rem;
  color: white;
  border: none;
  height: 3rem;
  padding: 0 1rem;
  background-color: rgb(44, 145, 44);
}

.btnSend:hover {
  background-color: rgb(8, 223, 8);
}

.btnReset {
  border: none;
  border-radius: 0.5rem;
  color: black;
  margin-left: 2.5rem;
  height: 3rem;
  padding: 0 1rem;
  color: white;
  background-color: rgb(247, 70, 70);
}

.btnReset:hover {
  background-color: rgb(187, 9, 9);
}
